################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Before/.vs/CqrsInPractice/v16/Server/sqlite3/storage.ide-wal
